<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Husky Air Reservation Form</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h2>Reservation Form</h2>

   <form th:action="@{/form}" method="post">
    <!-- Reservation Fields -->
    <fieldset th:object="${reservation}">
        <legend>Reservation</legend>
        <label>Details (Reservation):</label>
        <input type="text" th:field="*{detailsReservation}" /><br/>

        <label>Ticket Number:</label>
        <input type="text" th:field="*{ticketnumber}" /><br/>

        <label>Date:</label>
        <input type="date" th:field="*{date}" /><br/>

        <!-- Payment Fields -->
        <fieldset>
            <legend>Payment</legend>
            <label>Amount:</label>
            <input type="number" th:field="*{payment.amount}" /><br/>

            <label>Date:</label>
            <input type="date" th:field="*{payment.date}" /><br/>
        </fieldset>
    </fieldset>

    <!-- Customer Fields -->
    <fieldset th:object="${customer}">
        <legend>Customer</legend>

        <label>Address:</label>
        <input type="text" th:field="*{address}" /><br/>

        <label>Details (Customer):</label>
        <input type="text" th:field="*{details}" /><br/>
    </fieldset>

    <br/>
    <button type="submit">Submit Reservation</button>
</form>

</body>
</html>
